@font-face{
	font-family: 'mostra-bold';
	src: url('../fonts/MostraNuovaBold.otf') format('truetype');	
}
@font-face{
	font-family: 'mostra-regular';
	src: url('../fonts/MostraNuovaReg.otf') format('truetype');	
}
@font-face{
	font-family: 'mostra-lite';
	src: url('../fonts/MostraNuovaLite.otf') format('truetype');	
}

body {

	background-color: rgba(255, 140, 105, .4);
	min-height: 1000px;
}
#background-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	background: url('../images/balloons.jpg');
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 3000px;
	width: 100%;
	z-index: -1;

}
#background-wrapper-two {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	background: url('../images/balloons.jpg');
	background-position: 70% right;
	background-size: cover;
	background-attachment: fixed;
	min-height: 3000px;
	width: 100%;
	z-index: -1;

}
header {

	h1 {
		opacity: 0;
		font-family: 'mostra-lite', sans-serif;
		text-align: center;
		color: black;
		font-size: 3.8em;
		margin-top: 0px;
		padding: 20px;
		text-shadow: 0 0 2px rgba(255, 140, 105, .4);
		-webkit-animation-duration: 2s;
  		-webkit-animation-delay: .5s;
  		img {
  			margin-left: 10px;
  		}	
	}

	.stuck {
		z-index: 10000;
		position: fixed;
		top: 0;
		width: 100%;
		text-align: center;
		height: inherit;
		width: 100%;
		background: url(../images/balloons.jpg) 70% right no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color: rgba(255,255,255,.2);
	}

	#sticky-banner {
		transition: background .5s;
		margin-bottom: 20px;
		h2 {
			z-index: 100;
			opacity: 0;
			font-family: 'mostra-regular', sans-serif;
			text-align: center;
			color: white;
			font-size: 3.5em;
			margin-top: 0px;
			padding: 10px;
			text-shadow: 4px 2px 1px rgba(255, 140, 105, .4);
			-webkit-animation-duration: 2s;
	  		-webkit-animation-delay: .5s;
	  		img {
	  			background-color: rgba(255,255,255,.2);
	  			border-radius: 8px;
	  			transition: background-color .5s;
	  			&:hover {
	  				background-color: rgba(255,255,255,.5);
	  			}
	  		}	
		}

}

}

#packshot-container {
	opacity: 0;
	height: inherit;
	width: 80%;
	margin: 0 auto;
	-webkit-animation-duration: 1.5s;
  	-webkit-animation-delay: 2s;
	

	#packages {
		list-style-type: none;
		padding: 10px;
		height: inherit;
		#package-one {
			margin: 60px auto;
		}
		#packshot-vinyl {
			width:58.5%;
		}
		li {
			text-align: center;
			background-color: rgba(255, 140, 105, .4);
			border-radius: 6px;
			box-shadow: 0 0 4px rgba(255, 140, 105, .4); 
			display: inline-block;
			height: inherit;
			margin: 20px 10px;
			img {
				width: 60%;
				margin: 0 auto;
	}
		}
	}
	/*#small-package {
		margin: 40px auto;
	}
	.t-shirt {
		margin: 20px auto;
	}*/
}

#media-container {
	width: 100%;
	text-align: center;
	iframe {
		margin: 0 auto;
		height: 360px;
		width: 560px;
	}
}

#tracklist-container {
	width: 100%;
	height: inherit;
	padding: 10px;
	margin: 20px 0;
	background-color: rgba(255, 140, 105, .4);
	box-shadow: 0 0 4px rgba(255, 140, 105, .4);
	text-align: center;
	transition: background-color .5s;
	&:hover {
		background-color: rgba(255, 140, 105, .6);

	}

	#album {
		width: 40%;
		display: inline-block;
	}
	#track-list {
		font-family: 'mostra-regular', sans-serif;
		width: 40%;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		color: white;
		font-size: 1.3em;
		text-shadow: 1px 0 black;

		ul {
			list-style-type: none;
		}

		#listing-ul {
			list-style-type: none;
			padding: 20px !important;
		}
	}

}

#tour-dates-container {
	width: 100%;
	text-align: center;
	color: white;
	font-family: 'mostra-lite', sans-serif;
	font-size: 1.5em;
	#tour-dates {
		list-style-type: none;
		span {
			font-family: 'mostra-bold', sans-serif;
			text-shadow: 1px 0 1px rgba(255, 140, 105, .4) ;
		}
	}
}

@media screen and (max-width: 860px) {

	header {

		h1{
			font-size: 2.2em;

		}
		.stuck {
			background: url(../images/balloons.jpg) top
			left;
			background-attachment: scroll;
		}
		#sticky-banner {
			h2 {
				font-size: 1.6em;
				padding: 2px;
				img {
					height:30px;
				}
			}
		}
	}

	#media-container {
		iframe{
			height: 240px;
			width: 280px;
		}
	}

	#tracklist-container {

		#main-ul{
			padding: 10px !important;
		}
		#album {
			display: block;
			width: 100%;
			margin: 0 auto;
			img {
				height: 260px;
				width: auto;
			}
		}
		#track-list {
			display: block;
			width: 100%;
			margin: 0 auto;
			padding-left: 120px;
			/*font-size: 1em;*/
		}
	}

	#tour-dates-container{
		font-size: 1.2em;
		#tour-dates {
			padding: 8px !important;
		}
	}
}

@media screen and (max-width: 500px) {
	header {
		h1 {
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}

	#tracklist-container {
		#track-list {
			padding-left: 20px;
		}
	}
	#tour-dates {
		padding: 2px;
	}

	}




